# Meson
subprojects/*
!subprojects/*.wrap
!subprojects/packagefiles
build/
subprojects/packagefiles/patches/*.h
subprojects/packagefiles/patches/*.cpp
subprojects/packagefiles/patches/*.toml

# Python
__pycache__/
.ipynb_checkpoints/

# C++
compile_commands.json
.cache

# Tests
.coverage
